html{
    font-family: sans-serif;
    text-align: center;
    padding:0;
    margin:0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    overflow: hidden;
}
#box{
    width:300px;
    margin-left:60%;      
}
#background{
    width: 960px;
    height:700px;
    border-radius: 20px;
    background-color:white;
    vertical-align: center;
}
input{
    width:325px;
    height:55px;
    border-radius: 40px;
    border:none;
    outline:0;
}
.mail , .password{
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    background-color:#E6E6E6;
}
.login{
    color:white;
    transition: background-color 0.5s linear; /* vendorless fallback */
    -o-transition: background-color 0.5s linear; /* opera */
    -ms-transition: background-color 0.5s linear; /* IE 10 */
    -moz-transition: background-color 0.5s linear; /* Firefox */
    -webkit-transition: background-color     0.5s linear; /*safari and chrome */
    font-weight: bold;
    background-color:#57B846;
    font-size: 1.3em;
}
a{
    text-decoration: none;
    color:gray;
}
h5{
    text-align: center;
    margin-top:100px;
}
a:hover{
    transition: color 0.2s;
    color:#57B846;
}
.login:hover{
    transition: background-color 0.2s;
    background-color: green;
}
#head{
    margin-top:100px;
}
#blog{
    margin-left: 50px;
    color:gray;
    font-size:4em;
    font-weight: bold;
    -webkit-transition: text-shadow    0.5s linear;
    text-shadow:0 0 10px #000000;
}
#blog:hover{
    transition: text-shadow 0.2s;
    text-shadow:0 0 0px #000000;
}

